{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'password_reset' %}">Have you forgotten your password?</a>

{% endblock %}