{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Password reset</button>
    </form>
{% endblock %}