{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
    <p>Your password has been changed</p>
    <a href="{% url 'login' %}">Go to Login</a>
{% endblock %}