{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            <label class="label">{{ field.label }}</label>
            <div class="control">
                {{ field }}
            </div>
        <span class="color_red">
            {{ field.errors }}
        </span>
        </div>
        {% endfor %}
        <button type="submit">Save new user</button>
    </form>

{% endblock %}