{% extends 'base.html' %}
{% block title %}Category Details{% endblock %}
{% block content %}
    <div class="container">
        <div class="section">

            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{ category_details.category_name}}</p>
                  </div>
                </div>

                <div class="content">
                    <p class="subtitle is-6">{{ category_details.category_description }}</p>
                    <br>

                    <a href="{% url 'category_list' %}">Back to category list</a>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}