{% extends 'base.html' %}
{% block title %}Category add{% endblock %}
{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                <label class="label">{{ field.label }}</label>
                <div class="control">
                    {{ field }}
                </div>
                <span class="color_red">
                    {{ field.errors }}
                </span>
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

{% endblock %}