{% extends 'base.html' %}
{% block title %}Category List{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entries in all_categories %}
                        <tr>
                            <td>{{ entries.category_name }}</td>
                            <td>{{ entries.category_description }}</td>
                            <td><img src="{{ entries.category_image }}" alt="missing"/></td>
                            <td>

                                    <a href="{% url 'category_edit' entries.id %}">Update</a>



                                    <a href="{% url 'category_delete' entries.id %}">Delete</a>



                                    <a href="{% url 'category_details' entries.id %}">Details</a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

                <a href={% url 'category_add' %}>Add new category</a>

        </div>
    </section>
{% endblock %}