{% extends 'base.html' %}
{% block title %}Category Delete{% endblock %}
{% block content %}
    <form method="post">
        <h3>Are you sure you want to delete this category?</h3>
        {% csrf_token %}
        <button type="submit">Yes</button>
        <a href={% url 'category_list' %}>No</a>
    </form>
{% endblock %}