body{
	padding-top:70px;
}
.jumbotron{
	background-color: #ecf0f1;
	color: #2c3e50;
}
.navbar-inverse{
	background-color: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a {
	color:white;
}
.navbar-inverse .navbar-brand{
	color:white;
}