{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <! -- CSS files -->
    <link rel="stylesheet" href="{% static 'CSS/shop_style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <title>{% block title %} {% endblock %}</title>

    <! -- JS files -->
    <script type="text/javascript" src="{% static 'JS/shop_js.js' %}"></script>

</head>
<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href={% url 'home' %}>
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        About
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Our Story
                        </a>
                        <a class="navbar-item">
                            Events
                        </a>
                        <a class="navbar-item">
                            Blog
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Shop
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Coffee
                        </a>
                        <a class="navbar-item">
                            Tea
                        </a>
                        <a class="navbar-item">
                            Pastry
                        </a>
                    </div>
                </div>
                <a class="navbar-item">
                    Contact
                </a>
                <a class="navbar-item">
                    Meniu
                </a>
                {% if perms.category.view_category %}
                <a class="navbar-item" href={% url 'category_list' %}>Categories</a>
                {% endif %}
        </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="button is-primary">
                        Logout, {{ request.user.username }}
                    </a>
                    {% else %}
                    <a href="{% url 'users-create' %}" class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a href="{% url 'login' %}" class="button is-primary">
                        <strong>Login</strong>
                    </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

</body>
</html>